@font-face {
    font-family: thor;
    src: url(Assets/Norse-Bold.otf);
}


body{
    margin: 0;
    padding: 0;
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.sidebar{
    background-image: url(Assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-size:cover;
    background-position: center;
    height: 100vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(10, 10, 10, .50);
    color: white;
    font-size: 6rem;

    position: relative;
    top: 20vh;
}

#logo {
    width: 100px;
}

#logo-text{
    font-family: thor;
}

#credit {
    font-size: 1rem;
    color:white;
    justify-self: flex-end;
}

a{
    color: inherit;
}

.mainbar{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
}

h1{
    font-size: 1.5rem;
}

.pitch{
    width: 90%;
    padding-bottom: 1em;
    line-height: 1.5;
}

.form{
    
    
}

.form-bg{
    background-color: white;
    padding-bottom: 1em;
    padding-top: 1em;
}


#form-fields {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    gap: 1rem;
    
}

.form-item{
    display: flex;
    flex-direction: column;
    margin: 0em 5em 1em 0em;
    width: 30%;
    opacity: 80%;
    font-size: 1.0em;
}

.form-input{
    height: 2em;
    border-radius: 5px;
    font-size: 1.0em;
    padding-left: .5em;
    border: solid rgb(189, 189, 189) 1px;
}

#error-message{
    color: red;
    display: none;
}

.invalid{
    border: 2px solid red;
}

input:invalid:focus{
    border: 2px solid red;
}

.signup{
    width: 90%;
    padding-top: 2rem;
}

.action-button{
    width: 20rem;
    height: 4rem;
    font-size: 1.5rem;
    background-color: #596D48;
    border-radius: 10px;
    border: none;
    color: white;
}

.action-link{
    color: #596D48;
    text-decoration: none;
}

.left{
    padding-left: 3rem;
    
}